.tests-summary{
    border-bottom:1px solid #e9e9e9;
    margin:0 -10px 20px;
    padding:0 10px 0;
    }
    .tests-summary table{
        margin-bottom:5px;
        }
        .tests-summary table th{
            text-align:left;
            }
        .tests-summary table td,
        .tests-summary table th{
            padding:0 10px 4px 0;
            }
        .tests-summary table .comment{
            font-style:italic;
            color:#999;
            font-size:.9em;
            padding-left:10px;
            }
        .tests-summary table .count{
            text-align:right;
            }
            .tests-summary table .count span{
                display:block;
                padding:1px 5px;
                }
        .tests-summary table tfoot {
            font-weight:bold;
            }

.test{
    padding:0 15px 0 20px;
    }
    .test-title span{
        font-weight:bold;
        cursor:pointer;
        }
        .test-title a{
            font-size:.75em;
            color:gray;
            margin-left:5px;
            position:relative;
            top:3px;
            }
        .test-title span:hover i{
            color:#e5e5e5;
            }

    .success .test-title span,
    .error .test-title span,
    .warning .test-title span,
    .tests-summary .success,
    .tests-summary .error,
    .tests-summary .warning{
        display:inline-block;
        padding:1px 5px;
        color:white;
        border-radius:2px;
        }

    .success .test-title span,
    .tests-summary .success{
        background:green;
        }
    .error .test-title span,
    .tests-summary .error{
        background:red;
        }
    .warning .test-title span,
    .tests-summary .warning{
        background: #ffc000;
        }
    .test .code{
        display:none;
        margin-bottom:30px;
        }




.filter-for-tests{
    float:right;
    width:270px;
    }
.filter-for-tests,
.filter-for-tests span{
    color:#777;
    }
.filter-for-tests span{
    cursor:pointer;
    }
    .filter-for-tests span{
        text-decoration:none;
        border-bottom:1px dotted;
        font-size:0.85em;
        line-height:1.5em;
        }
    .filter-for-tests span:active{
        color:red;
        }
    .filter-for-tests span:hover{
        color:#00b800;
        }
    .filter-for-tests .current,
    .filter-for-tests .current:hover{
        border-bottom:0;
        color:#000;
        cursor:default;
        }


h2{
    font-size:1.5em;
    }

h3{
    font-size:1.25em;
    margin-top:2.25em;
    }

h2 + h3{
    margin-top:1em;
    }

.test-list{
    margin-top:2em;
    }